* {
  padding: 0;
  margin: 0;
  font-family: Cormorant Unicase;
}

.dark {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark1 {
  color: white;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/vincent-guth-vxVZzpk6PHM-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.game-container {
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 5px;
  perspective: 1000px;
  background-image: url('./assets/gryffyn-m-O8pEyjTnI7U-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.5);
}
.card {
  width: calc(25% - 55px);
  height: calc(25% - 25px);
  margin-left: 30px;
  margin-right: 25px;
  margin-top: 20px;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  left: calc(10% - 45px);
  top: calc(10% - 30px);
  display: none;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

#difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  position: relative;
  top: calc(5% - 5px);
  color: #445d7b;
}

#timebutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 75px);
  position: absolute;
  top: calc(75% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: calc(55% + 20px);
  margin-top: 15px;
  pointer-events: none;
}

.normalText {
  color: white;
  font-size: 100px;
}

.timeDilation {
  font-size: 125px;
  color: black;
}

#start {
  background-color: transparent;
  text-shadow: 2px 2px 4px #000000;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 50px;
  border: none;
  font-size: 25px;
}

.reset {
  background-color: transparent;
  cursor: pointer;
  color: #d2e6ff;
  border-radius: 50%;
  height: 20px;
  width: 50px;
  font-size: 25px;
  border: none;
}

#finalReset {
  background-color: transparent;
  cursor: pointer;
  color: rgba(231, 217, 217, 0.6);
  border-radius: 15px;
  height: 20px;
  width: 50px;
  border: none;
  font-size: 35px;
  align-self: center;
  text-shadow: 2px 2px 35px white;
}

.difficulty {
  background-color: transparent;
  cursor: pointer;
  color: #081424;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-family: Eagle Lake;
  text-shadow: 2px 2px 15px white;
}

#difficultyButtons {
  height: calc(75% - 25px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 20px;
}

#remove {
  font-size: 12px;
}

.fader {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: rgb(95, 2, 2);
  width: 100%;
  height: 100%;
}

#endOfMori {
  display: none;
  z-index: 110000;
  font-size: 50px;
  margin: auto;
  flex-direction: column;
  text-shadow: 2px 2px 40px white;
}

#moriWin{
  display: none;
  z-index: 120000;
  font-size: 50px;
  margin: auto;
  flex-direction: column;
  text-shadow: 2px 2px 40px white;
}

#easyMediumWin{
  display: none;
  z-index: 130000;
  font-size: 50px;
  margin: auto;
  flex-direction: column;
  text-shadow: 2px 2px 40px white;
}

h1 {
  text-shadow: 2px 2px 4px #000000;
}


#endImage {
  width: 200px;
  height:350px;
  display: flex;
  align-self: center;
}

@media (min-width: 1024px) {
  .game-container {
    width: 650px;
    height: 400px;
  }

  .card {
    width: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
  }

  .difficulty {
    background-color: transparent;
    cursor: pointer;
    color: #26323f;
    font-size: 25px;
    border-radius: 15px;
    border: none;
  }

  .reset {
    font-weight: bold;
    color: #26323f;
    left: calc(10% - 5px);
    font-size: 50px;
    text-shadow: 2px 2px 15px white;
  }

  h1 {
    font-size: 75px;
    text-shadow: 2px 2px 4px #000000;
  }

  #difficultyButtons {
    flex-direction: row;
    width: calc(75% - 2px);
    top: 0px;
  }

  .game-container {
    margin-top: 20px;
  }

  #remove {
    font-size: 25px;
    position: relative;
    top: 35px;
  }
  #timebutton {
    width: calc(80% - 10px);
  }
}

@media (min-width: 768px) {
  .reset {
    font-weight: bold;
    color: #26323f;
    left: calc(10% - 5px);
    font-size: 35px;
    text-shadow: 2px 2px 15px white;
  }

  #start {
    font-size: 35px;
  }

  #timebutton {
    width: calc(80% - 10px);
  }
}

@media (max-width: 425px) {
  #endOfMori {
    font-size: 30px;
  }
}
